{% extends "base_generic.html" %}
{%load static%}
{%block content%}
<div class="parent-div">
    <div class="centered-div">
 <h2 class="title">{{quiz.title}}</h2>
 <form method="post" id="quizform" action="{% url 'quiz_submit' quiz.id %}">
    {% csrf_token %}
 
    {% for question in questions %}
        <h3>{{ question.text }}</h3>
        {% for choice in question.choices.all %}
            <input type="radio" id="choice_{{ choice.id }}" name="question_{{ question.id }}" value="{{ choice.id }}">
            <label for="choice_{{ choice.id }}">{{ choice.text }}</label><br>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="submit">Submit Quiz</button>
</form>
</div>
</div>



{%endblock%}